@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4 my-3">Evaluación Programación Septiembre 2022</h1>
    <div class="d-flex flex-column col-md-4 col-8 mx-auto">
        <a class="btn btn-primary my-3 btn-tema" href='@Url.Action("Empleados","Home")'>Tema 1 - Empleados</a>
    </div>
</div>

<script type="text/javascript" src="/js/confetti-index.js"></script>
